{% include header.html %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8 mx-auto">

          <!-- Title -->
          <h1 class="mt-4">{{ page.title }}</h1>
          <h1><small class="text-muted"><small>{{ page.date | date_to_long_string }}</small></small></h1>
          
          <!-- Post Content -->
          <p class="lead">{{ page.description }}</p>
          {{ content | replace: '<h1>', '<h2>' | replace: '</h1>', '</h2>' | replace: '<h2>', '<h3>' | replace: '</h2>', '</h3>' | remove: '<hr>' }}
          
          <!-- Author -->
          <p class="text-muted">
            <span class="postDate">{{ page.date | date_to_long_string | downcase}}</span>.
            {% if page.crossposts != null %}
cross-posted on
{% for crossposts in page.crossposts %}
<a href="{{ crossposts.url }}">{{ crossposts.name }}</a>{% if forloop.length > 1 %}, {% endif %}
{% endfor %}and <a href="{{ site.url | append:page.url }}">my site.</a>{% endif %}
            filed under
{% for categories in page.categories %}
{% if forloop.index == forloop.length and forloop.length >= 2 %}and {% endif %}<a href="{{ site.url | append: "/categories.html#" | append:categories }}">{{ categories }}</a>{% if forloop.index != forloop.length and forloop.length != 2 %}, {% endif %}{% endfor %}.
</p>
</div>
</div>

<!-- subscribe -->

<p></p>
<div class="container col-lg-8 mx-auto text-center">

                  <!-- Categories Widget -->
                  <h5 class="card-title">follow and subscribe</h5>
                  </div>
                  <p></p>
                  <div class="row col-lg-8 mx-auto text-center">
            <div class="col-lg-4 col-sm-6">
            <div class="card-text">
              <p><a href="http://mackfinkel.com/feed.xml">rss</a></p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-text">
              <div class="input-group">
                <form action="https://mackfinkel.us16.list-manage.com/subscribe/post?u=561f3b1bd4804ac4a9ccfd081&amp;id=c63e07b29e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="input-group" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="form-control" placeholder="email" id="mce-EMAIL">
                <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_561f3b1bd4804ac4a9ccfd081_c63e07b29e" tabindex="-1" value=""></div>
                <span class="input-group-btn">
                  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary" type="button">submit</button>
                </span>
              </div>
              </form>
            </div></div></div><p></p>
          <div class="col-lg-4 col-sm-6">
            <div class="card-text">
              <p><a href="https://twitter.com/mackfinkel">twitter</a></p> 
            </div>
          </div>
        <!-- /.categories -->


      </div>
      <!-- /.row -->
      
      <!-- /.subscribe -->

    </div>
    <!-- /.container -->
{% include footer.html %}