{% include header.html %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          {{ content }}

          <!-- Pagination
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
           -->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget
          <div class="card my-4">
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="search">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">go</button>
                </span>
              </div>
            </div>
          </div>
           -->
          
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">about</h5>
            <div class="card-body">
                I'm Mack, a researcher from Philadelphia.
            </div>
          </div>
          
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">post categories</h5>
            <div class="card-body">
              <div class="row">
                {% for category in site.categories %}
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{{ site.url }}/categories.html#{{ category | first }}">{{ category | first }}</a>
                    </li>
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">follow</h5>
            <div class="card-body">
              <div class="row">
                {% for item in site.social %}
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                  </ul>
                </div>
                {% endfor %}
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{{ site.url | append: '/feed.xml' }}">rss</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
           <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">subscribe</h5>
            <div class="card-body">
              <div class="input-group">
                <form action="https://mackfinkel.us16.list-manage.com/subscribe/post?u=561f3b1bd4804ac4a9ccfd081&amp;id=c63e07b29e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="input-group" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="form-control" placeholder="email" id="mce-EMAIL">
                <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_561f3b1bd4804ac4a9ccfd081_c63e07b29e" tabindex="-1" value=""></div>
                <span class="input-group-btn">
                  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary" type="button">submit</button>
                </span>
              </div>
              </form>
            </div>
            </div>
              </div>
              
              <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">contact</h5>
            <div class="card-body">
                mackfinkel [at] gmail [dot] com
              </div>
              </div>
              

    </div>
    <!-- /.container -->
{% include footer.html %}